<div class="container wrapper">
  <div class="row">
    <div class="col-sm-12">
      <h2>Employee List</h2>
      <ul class="nav nav-tabs">
        &nbsp;&nbsp;&nbsp;
        <li class="nav-item" routerLinkActive="active" routerLink="/images-create">Create </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Profile Photo</th>
        <th scope="col">Action</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td >{{employee.EmployeeId}}</td>
      <td >{{employee.FullName}}</td>
      <td >{{employee.nic}}</td>
      <td><img [src="employee.profilePhoto"]>
      </td>
      <td>{{employee.currentDeptCode}}</td>

      <td >
        <a href="#" [routerLink]="['imagesEdit', employee.employeeID, 'edit']" class="btn btn-primary">Edit</a>
        <button type="button" (click)="delete(employee.id)">Delete</button></td>
    </tr>
  </tbody>
  </table>
</div>
