<div><br></div>
<div class="container">
  <h1>Create New Post</h1>
  <div class="card" style="width: 500px;">
    <div class="card-body">
      <form  [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label >Employee Id</label>
          <input type="hidden" class="form-control"  name="employeeId"
          formControlName="employeeID" [(ngModel)]="crudService.formData.EmployeeId">
        </div>
        <div class="form-group">
          <label >FullName</label>
          <input class="form-control"  name="fullName" placeholder="FullName"
          formControlName="fullName" [(ngModel)]="crudService.formData.fullName">
        </div>

        <div class="form-group">
          <label >NIC No</label>
          <input class="form-control"
              formControlName="nic" placeholder="NIC"
              [(ngModel)]="crudService.formData.nic"
              maxlength="16">
          <div class="text-danger" *ngIf="isSubmitted && formcontrols.nic.error?.required" >This Field is required</div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control form-control-lg"
           placeholder="Password" name="Password"
           formControlName="password"
            [(ngModel)]="crudService.formData.password">
          <div class="text-danger" *ngIf="isSubmitted && formcontrols.Password.error?.required" >This Field is required</div>
        </div>

        <div class="form-group">
          <label >Department Code</label>
          <input class="form-control"  placeholder="Department Code" name="currentDeptCode"
          formControlName="currentDeptCode"
           [(ngModel)]="crudService.formData.currentDeptCode">
        </div>

        <img [src]="imgSrc" width="350px" height="250px">

        <div class="form-group">
          <label >Profile Photo</label>
          <input  type="file" accept="image/*" class="form-control form-control-lg" formControlName="profilePhoto" (change)="showPreview($event)"
          name="profilePhoto"  [(ngModel)]="crudService.formData.profilePhoto">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success float-right" [disabled]="form.invalid">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>


