<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="welcome">
        <h3>Adding Department</h3>
      </div>
      <form [formGroup]="departmentForm" (ngSubmit)="create()">
        <div class="form-group">
          <label for="exampleInputName">Department ID</label>
          <input
            type="number"
            id="deptCode"
            class="form-control"
            placeholder="Department Code"
            formControlName="deptCode"
          />
        </div>
        <div class="form-group">
          <label>Department Name</label>
          <input
            type="text"
            id="deptName"
            class="form-control"
            placeholder="Department Name"
            formControlName="deptName"
          />
        </div>
        <button type="submit" class="btn btn-main">Add</button>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
