<div><br></div>
<div class="container">
  <h3>Edit Employee</h3>


      <form  [formGroup]="employeeEditForm" (ngSubmit)="submit()">

        <div class="form-group">
          <label >Employee Id</label>
          <input type="hidden" class="form-control"  name="employeeId"
          formControlName="employeeID" [(ngModel)]="employee.EmployeeId">
        </div>
        <div class="form-group">
          <label >FullName</label>
          <input class="form-control form-control-lg"  name="fullName" placeholder="FullName"
          formControlName="fullName" [(ngModel)]="employee.fullName">
        </div>

        <div class="form-group">
          <label >NIC No</label>
          <input class="form-control form-control-lg"
              formControlName="nic" placeholder="NIC"
              [(ngModel)]="employee.nic"
              maxlength="16">
          <div class="text-danger" *ngIf="isSubmitted && formcontrols.nic.error?.required" >This Field is required</div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control form-control-lg"
           placeholder="Password" name="Password"
           formControlName="password"
            [(ngModel)]="employee.password">
          <div class="text-danger" *ngIf="isSubmitted && formcontrols.Password.error?.required" >This Field is required</div>
        </div>

        <div class="form-group">
          <label >Department Code</label>
          <input class="form-control"  placeholder="Department Code" name="currentDeptCode"
          formControlName="currentDeptCode"
           [(ngModel)]="employee.currentDeptCode">
        </div>

        <img [src]="imgSrc" width="350px" height="250px">

        <div class="form-group">
          <label >Profile Photo</label>
          <input  type="file" accept="image/*" class="form-control form-control-lg" formControlName="profilePhoto" [(ngModel)]="employee.profilePhoto"
          name="profilePhoto">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success float-right" [disabled]="form.invalid">Submit</button>
        </div>

      </form>

</div>

