<div class="container">
  <div class="row">
    <div>
      <h4>Department Detail</h4>
      <a href="#" routerLink="/department-list" class="btn btn-primary">Back</a>
    </div>
  </div>
  <div class="row">
    <div>
      <strong>Department code:</strong>
      <h4>{{depatmrnt.deptCode}}}</h4>
      <strong>Department Name:</strong>
      <h4>{{depatmrnt.deptName}}}</h4>
    </div>
  </div>
</div>
