<div class="container">


    <div class="panel-heading">
      <h3>ADD New Department</h3>
    </div>

    <div class="panel-body">

      <form [formGroup]="departmentEditForm" (ngSubmit)="edit()">
        <div class="form-group">
          <label>Department ID</label>
          <input
            type="number"
            [(ngModel)]="department.deptCode"
            class="form-control"
            placeholder="Department Code"
            formControlName="deptCode"
          />
        </div>
        <div class="form-group">
          <label>Department Name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="department.deptName"
            placeholder="Department Name"
            formControlName="deptName"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-main">Update</button>
        </div>

      </form>
    </div>
</div>
