<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="welcome">
        <h3>View Departments</h3>
      </div>
      <div class="col-lg-3" *ngFor="let department of departments">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ department.deptCode }}</h5>
            <h4 >{{department.deptName}}</h4>
          </div>
          <div class="card-body">
            <a routerLink="/departmentDetail/{{department.deptCode}}" class="btn-main">View </a>
            <a href="#" [routerLink]="['/department-edit/', department.deptCode]" class="btn btn-primary">Edit</a>
            <button class="btn-danger" (click)="deleteDepartment(department.deptCode)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
