<div class="container">
  <h1>View Post</h1>

  <a href="#" routerLink="./imageList" class="btn btn-primary">Back</a>

  <div>
      <strong>ID:</strong>
      <p>{{ employee.employeeId }}</p>
  </div>

  <div>
      <strong>FullName</strong>
      <p>{{ employee.fullName }}</p>
  </div>

  <div>
      <strong>NIC:</strong>
      <p>{{ employee.nic }}</p>
  </div>
  <div>
    <strong>currentDepartment Code:</strong>
    <p>{{ employee.currentDeptCode }}</p>
</div>

</div>
